/*NAVBAR CSS */
#navbar{
    background-color: #bfd1ad;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

#headerlink a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo{
    width: 8%;
    margin-left: 10px;
}

#headertitle{
    color: #f9ebdf;
    font-family: 'Freehand', cursive;
    font-size: x-large;
    padding-left: 10px;
}

#toolbar{
    list-style: none;
    color: #f9ebdf;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.navlink{
    margin: 10px;
}

#linkpage{
    text-decoration: none;
    color: #f9ebdf
}

a#linkpage:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

#button{
    background-color: #f9ebdf;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #95aa6a;
    padding: 5px;
}

#connexion{
    color: #95aa6a;
    text-decoration: none;
}

a#connexion:hover{
    font-weight: bold;
}

body{
    background-color: white;    
}

/* Home */
/* Header Logo CSS*/
#header{
    margin: auto;
    text-align: center;
    background-color: white;
}

#brandlogo{
    width: 40%;
}

#title{
    font-family: 'Freehand', cursive; 
    text-align: center;
    color: #bfd1ad;
    font-size: 60px ;
    padding-bottom: 50px;
    padding-top: 10px;
}

/* Article presentation */
#background{
    /*background-color: #f9ebdf;*/
    border-top: solid 2px #bfd1ad;
}
#presentation{
    color: black;
    margin: auto;
    width: 60%;
    text-align: center;
    text-align: justify;
}

#questionnaire{
    color: #95aa6a;
    text-decoration: none;
    font-weight: bolder;
}

a#questionnaire:hover{
    text-decoration: underline;
}

#asso{
    color: #95aa6a;
    text-decoration: none;
    font-weight: bolder;
}

a#asso:hover{
    text-decoration: underline;
}

p{
    margin-bottom: 20px;
}

#fanny{
    margin: auto;
    text-align: center;
}

#photo{
    width: 30%;
}

#important{
    text-align: center;
    color: #555d49;
    font-weight: bold;
}

#listmassage{
    font-style: italic;
    margin: auto;
    margin-bottom: 20px;
}

#foot{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#massage{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#magnet{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

/* Prestation CSS */
#prestation{
    background-color: #F5F5DC;
    padding: 10px;
    border-top: solid 2px #bfd1ad;
    border-bottom: solid 2px #bfd1ad;
}

#prestitle{
    font-family: 'Freehand', cursive; 
    text-align: center;
    color: #bfd1ad;
    font-size: 100px ; 
}

#cardposition{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cardpres{
    border: 2px solid #95aa6a;
    box-shadow: 10px 5px 5px #95aa6a;
    border-radius: 10px;
    max-width: 300px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}

#preslink{
    margin: auto;
    padding: 10px;
}

#readmore{
    color: #95aa6a;
    text-decoration: none;
}

a#readmore:hover{
    box-shadow: 10px 5px 5px #95aa6a;
    font-weight: bold;
    border-radius: 5px;
}

#logopressize{
    width: 80%;
}

#logopres{
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pressubtitle{
    color: black;
    text-align: center;
    padding: 5px;
}

#prespres{
    color: black;
    text-align: center;
    text-align: justify;
    padding: 10px;
}

#caution{
    color: #555d49;
    font-weight: bold;
    text-align: justify;
    width: 600px;
}

#massagetitle{
    color: #c5a263;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

/* Bon Cadeau */
#boncadeau{
    background-color: white;
    color: black;
    margin: auto;
    width: 60%;
    text-align: center;
    text-align: justify;
}

#boncadeau ul{
    list-style: initial;
    padding-left: 40px;
}

/* Footer CSS */
#footer{
    background-color: #bfd1ad;
    text-align: center;
}

#footer ul{
    list-style: none;
    color: black;
    padding: 10px;
}

#footer li{
    margin: 10px;
}

.contactstyle{
    font-weight: bold;
}

#sendmail{
    text-decoration: none;
    color: black;
}

a#sendmail:hover{
    text-decoration: underline;
    font-weight: bold;
}

#contact{
    font-family: 'Freehand', cursive; 
    font-weight: bold;
    font-size: 50px;
    color: black;
    margin: 0;
    padding: 10px;
}

#social{
    padding-top: 10px;
    padding-bottom: 20px;

}

#social a{
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}

/* Differentes pages massages CSS*/
#description2{
    text-align: justify;
    color: #95aa6a;
    padding: 15px;
}

#caution2{
    text-align: justify;
    color:#555d49;
    font-weight: bold;
    padding: 15px;
}


#massagepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forfait{
    text-align: center;
    font-weight: bold;
    color: #95aa6a;
}
#logopage{
    width: 25%;
}

#time{
    text-align: center;
    font-weight: bold;
    color: #95aa6a;
}

#cost{
    text-align: center;
    font-weight: bold;
    color: #95aa6a;
}

#description{
    text-align: justify;
    color: #95aa6a;
    width: 400px;
}

/* Page massafe ayurvedique */
#ayrulogo{
    display: flex;
    justify-content: center;
}

#logoayur{
    width: 20%;
}

#ayurvediques{
    display: flex;
    justify-content: center;
}

#multiayur{
    border: 2px solid #95aa6a;
    box-shadow: 10px 5px 5px #95aa6a;
    border-radius: 10px;
    max-width: 300px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
